<center>
    <h1>add new student </h1>
    <form  action="" method="post" >
        {% csrf_token %}
     value 1: <input type="text" autofocous name="v1" placeholder="value 1" /><br><br>
        value 2: <input type="text" name="v2" placeholder="value2" /><br><br>
        <input type="submit" value="Add"><br><br>
        <input type="submit" value="Mul"><br><br>
        <input type="submit" value="Div"><br><br>
        <input type="submit" value="Sub"><br><br>
    </form>>
      Output: <input type="text" placeholder="output" value="{{out}}" disabled/>

</center>