<center>
    <h1 style="color:red"> This is  Teachers   Details </h1>
    <style>
        table,th,td{border: 1px solid black}
    </style>
    <table>
        <tr>
            <th>Name</th>
            <th>Teacher ID</th>
            <th>Email</th>
            <th>Number</th>
        </tr>
        <tr>
            <td>{{ key1.name }}</td>
            <td> {{ key1.teacherid }}</td>
            <td> {{ key1.email }}</td>
            <td> {{ key1.number }}</td>
        </tr>
    </table>
</center>
